*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.Counter{
  min-width: auto;
  min-height: auto;
  padding: 20px 20px;
  background-color: rgb(194, 189, 189);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 2rem;
}

.buttons{
  width: auto;
  height: auto;
  padding: 5px;
  display: flex;
  gap: 15px;
}
button{
  min-width:100px;
  height: 25px;
  border: none;
  border-radius: 5px;
}